@charset "UTF-8";
.logo{
	background-color: silver;
	height: 117px;
	width: 82%;
	margin-top: 2%;
	margin-right: 9%;
	margin-left: 9%;
	margin-bottom: 1%;
}
.header{
	background-color: silver;
	height: 189px;
	width: 82%;
	margin-top: 1%;
	margin-right: 9%;
	margin-left: 9%;
	margin-bottom: 1%;
}
.intro{
	background-color: silver;
	height: 132px;
	width: 82%;
	margin-top: 1%;
	margin-right: 9%;
	margin-left: 9%;
	margin-bottom: 1%;
}
.box{
	background-color: silver;
	width: 24%;
	float: left;
	margin-right: -4%;
	margin-left: 9%;
	margin-bottom: 1%;
	height: 790px;
	margin-top: 1%;
}
.footer{
	background-color: silver;
	width: 82%;
	float: right;
	margin-top: 1%;
	margin-right: 9%;
	margin-left: 2%;
	margin-bottom: 1%;
	height: 70px;
}
